* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Passion One', serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #fb8b24;
}

img {
    max-width: 100%;
}

h1 {
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 30px;
}

.navbar {
    background-color: #813531;
    color: #ff611d	;
    height: 60px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar .logo {
    font-size: 40px;
}

.navbar a {
    text-decoration: none;
    color: #ff611d;	
    font-size: 20px;
}

.navbar a:hover {
    color: #e32929;
}

.navbar ul{
    display: flex;
    gap: 20px;
}

.header {
    background-color: #ffb80e;
    color: #982121;
    min-height: 500px;
    font-size: 25px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 500px;
    gap: 30px;
}

.header .container div {
    padding-right: 100px;
}

.header h1 {
    font-size: 4.5rem;
    font-weight: bold;
    line-height: 1.2;
}

.header img {
    max-width: 700px;
    box-shadow: 4px 4px 6px ;
    border-radius: 15px;
}

.header button,
.call button {
    margin-top: 15px;
    height: 3rem;
    width: 7rem;
    font-family: 'Passion One', serif;
    font-size: 1.2rem;
    background-color: #813531;
    color: #ff611d;
    border-radius: 5px;
    border: none;
}

.header button:hover,
.call button:hover {
    background-color: #ff611d;
    color: #813531;
    cursor: pointer;
}

.boxes {
    background-color: #fb8b24;
    color: #813531;
    font-size: 20px;
    height: 500px;
    text-align: center;
}

.boxes .title {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes .container {
    padding: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.boxes .box {
    width: 200px;
}

.boxes .box img {
    margin: 15px auto;
    height: 150px;
    width: 200px;
    border: 3px solid #e32929;
    border-radius: 15px;
    box-shadow: 3px 3px 3px;
}

.quote {
    background-color: #ffb80e;
    color: #982121;
    font-size: 30px;
    height: 250px;
    text-align: center;
    font-style: italic;
}

.quote .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.call-to-action {
    background-color: #fb8b24;
    font-size: 20px;
    color: #ffb80e;
    height: 200px;
}

.call-to-action .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.call {
    background-color: #e32929;
    display: flex;
    width: 1000px;
    padding: 30px;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
}

.footer {
    height: 45px;
    background-color: #813531;
    font-size: 15px;
    color: #fff;
}

.footer .container {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}